.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    transition: opacity var(--anim-trans), visibility var(--anim-trans);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // width: 528px;
    // height: 600px;
    width: 334px;
    height: 475px;
    // padding: 40px;
    padding: 20px;

    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--anim-trans);

    @include desktop {
        width: 528px;
        height: 600px;
        padding: 40px;
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-coment {
    height: 600px;
    overflow: auto;

    @include desktop {
        height: 700px;
    }
}

.modal__close {
    width: 30px;
    height: 30px;
    background-color: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: #000;
    transition: fill var(--anim-trans), border-color var(--anim-trans);

        &:hover,
        &:focus {
            fill: var(--color-btn-hov);
            border-color: var(--color-btn-hov);
        }
}

// .modal__icon {
//     width: 18px;
//     height: 18px;
// }

.modal__input {
    height: 50px;

    @include tablet {
        height: 60px;
    }
    @include desktop {
        height: 60px;
    }
}

.form__input--textarea {
    resize: none;
    height: 88px;
    padding-top: 15px;
}

.form__input--textarea:focus+.modal__label--coment,
.form__input--textarea:not(:placeholder-shown)+.modal__label--coment {
    color: var(--color-btn);
    transform: translateY(-60px);
}

.modal__label--coment {
    position: absolute;
    top: 25%;
    left: 30px;
    transform: translateY(-65%);
}