@keyframes moving {
    0% {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 92%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}