:root {
  --color-white: #fff;
  --color-text: #6a6a6a;
  --color-accent: #0478ff;
  --color-btn: #1d9bf0;
  --color-btn-hov: #3fa7ef;
  --color-bg: #383838;
  --color-title: #212121;
  --anim-trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --grad-bg: linear-gradient(rgba(56, 56, 56, 0.75),
      rgba(56, 56, 56, 0.75));
}
